.banner {
    width: 100%;
    display: flex;
    background-color: #e6e6e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 100px;
    transition: background-color 1s ease;
    
}
    


h1.bannerTitle {
    margin: 0;
    padding: 10px 20px;
    background-color: #e6e6e6;
    color: #333;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;

}
img.bannerImage {
    width: auto;
    max-width: 6em;
    height: auto;
}
