.navbar {
    display: flex;
    margin-left: auto;
    background-color: #e6e6e6;
    border-radius: 8px;
    transition: background-color 1s ease;
    align-content: right;
    justify-content: right;
    align-items: right;
}
.navbarLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6e6e6;
    color: #333;
    border: none;
    size: 3em;
    font-size: 1.25em;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbarLink:hover {
    background-color: #e0e0e0;
}
